body {
	margin: 0;
}

*:not(header, main) {
	border: 1px solid;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	z-index: -1;
}

nav {
	flex-grow: 1;
	z-index: -1;
}

header {
	flex-grow: 10;
}

main {
	flex-grow: 60;
}

footer {
	flex-grow: 30;
}

#input-card {
	position: absolute;
	width: 75vw;
	min-height: 6em;
	align-self: center;
	margin-top: 3.5em;
}
